.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-top: 100px;

  height: 100vh;
  width: 100vw;

  background-color: hsla(0, 0%, 86.7%, 0.4);
}

.App .send-message {
  padding-top: 4px;
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.App .send-message .ready {
  padding-bottom: 4px;
}
.App .send-message .ready.not {
  color: red;
}

.App .timeout {
  width: 500px;
  padding: 4px;
  padding-top: 12px;
  text-align: left;
  color: blue;

  display: flex;
  justify-content: space-between;
}
.App .timeout .timeout-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.App .timeout .timeout-buttons button {
  margin-left: 4px;
}

.App .messages {
  display: grid;
  grid-template-columns: 400px 100px;

  padding: 4px;

  margin-top: 12px;

  text-align: left;

  border-bottom: 1px solid gray;

  overflow-y: auto;
  overflow-x: hidden;
}

.App .messages .message-id {
  max-width: 60vw;
  border-right: 1px solid black;
  padding-right: 4px;
}

.App .messages .feedback {
  padding-left: 4px;
}

.App .messages .feedback span.yes {
  color: green;
}
.App .messages .feedback span.no {
  color: red;
}
